<div class="top-actions">
  <a href="/#/">
    <i class="action-icon fa fa-home"></i>
  </a>

  <a href="#" ng-href="#/lists/{{editListController.list.id}}">
    <i class="action-icon fa fa-arrow-left"></i>
  </a>
</div>

<div class="list-item">
  <form name="editList">
    <input ng-model="editListController.list.name"/>
  </form>
</div>

<div class="bottom-actions text-right">
  <a href ng-click="editListController.update(editListController.list)">
    <i class="action-icon fa fa-check"></i>
  </a>
</div>
