<div class="row row-right">
  <a href="#" ng-href="#/lists/{{editListController.list.id}}">
    <i class="action-icon fa fa-arrow-left" aria-hidden="true"></i>
  </a>
</div>

<div class="row">
  <div class="item item-active">
    <form novalidate>
      <input ng-model="editListController.list.name" require/>
    </form>

  </div>
</div>

<div class="row row-right">
  <a ng-click="editListController.update(editListController.list)">
    <i class="action-icon fa fa-check" aria-hidden="true"></i>
  </a>
</div>
