/* global */

html, body { height: 100%; width: 100%; margin: 0; };

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

/*  */

.list-item {
   border-bottom: 1px solid black;
   padding-top: 5vh;
   padding-bottom: 5vh;
   text-align: center;
}

.top-actions {
  border-bottom: 1px solid black;
}

.list-item .list-name {
  display: block;
}

.list-item:hover {
 background-color: #e7fef9;
}

.list-item a {
  width: 100%;
}

.text-right {
  text-align: right;
}

.list-name {
  text-decoration: underline;
}

/* forms */

/*.ng-invalid {
  border-color: red;
  color: red;
}
.ng-invalid input:focus {
  border-color: red;
}*/

/* grid */

.content {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  width: 480px;
}

@media all and (max-width: 640px) {
  .content {
    width: 100%;
  }
}

.row {
  width: 100%;
}

/* icons */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: font-url("fontawesome-webfont.eot?#iefix&v=4.5.6") format("embedded-opentype"), font-url("/assets/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), font-url("/assets/font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), font-url("/assets/font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), font-url("/assets/font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
}

.action-icon {
  font-size: 2em;
}

.fixed-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media all and (min-width: 980px) {
  .fixed-btn {
    right: 15%;
    bottom: 50%;
  }
}

.completed {
  text-decoration: line-through;
}
