.item {
   border-bottom: 1px solid black;
   padding-top: 5vh;
   padding-bottom: 5vh;
   text-align: center;
}

.item-active {
  border-top: 1px solid black;
}

a .item:hover {
 background-color: #e7fef9;
}

.text-right {
  text-align: right;
}
