<!DOCTYPE html>
<html>
<head>
  <!-- <title>ProjectAlabama</title> -->
  <title>Project Alabama</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="projectAlabama">
  <ng-view class="content"></ng-view>
</body>
</html>
